.ChatInput {
    display: block;
    margin: auto;
    display: flex;
    justify-content: center;

    input {
        width: calc(50% - 20px);
        padding: 10px;
        margin: 10px;
        font-size: 16px;
        border-radius: 5px;
        border: 1px solid black;
        box-shadow: 0 5px 15px -5px rgba(0, 0, 0, 0.1);
    }
}
